/* components/Noticebar/index.wxss */
@import '../../styles/var.scss';
@import '../../styles/mixin.scss';
@import '../../styles/component.scss';

.van-notice-bar {
  @include fl();
  @include sc($font-size-m, #ed6a0c);
  background-color: #fffbe8;
  height: 80rpx;
  line-height: 44rpx;
  padding: 0 16rpx;
}

.van-notice-bar--withicon {
  padding-right: 80rpx;
  position: relative;
}

.van-notice-bar--wrapable {
  height: auto;
  padding: 16rpx 32rpx;
}

.van-notice-bar--wrapable .van-notice-bar__wrap {
  height: auto
}

.van-notice-bar--wrapable .van-notice-bar__content {
  position: relative;
  white-space: normal;
}

.van-notice-bar__left-icon {
  @include fl();
  margin-right: 8rpx;
  vertical-align: middle;
}

.van-notice-bar__left-icon,
.van-notice-bar__right-icon {
  font-size: $font-size-h;
  min-width: 44rpx;
}

.van-notice-bar__right-icon {
  position: absolute;
  right: 30rpx;
  top: 20rpx
}

.van-notice-bar__wrap {
  flex: 1;
  height: 48rpx;
  overflow: hidden;
  position: relative
}

.van-notice-bar__content {
  position: absolute;
  white-space: nowrap
}

.van-notice-bar__content.van-ellipsis {
  max-width: 100%
}