/* components/Calendar/components/header/index.wxss */
@import '../../../../styles/component.scss';

.van-calendar__header {
  box-shadow: 0 2px 10px hsla(220, 1%, 50%, .16);
  flex-shrink: 0;
}

.van-calendar__header-subtitle,
.van-calendar__header-title {
  font-weight: 500;
  height: 88rpx;
  line-height: 88rpx;
  text-align: center;
}

.van-calendar__header-title+.van-calendar__header-title,
.van-calendar__header-title:empty {
  display: none;
}

.van-calendar__header-title:empty+.van-calendar__header-title {
  display: block !important;
}

.van-calendar__weekdays {
  display: flex;
}

.van-calendar__weekday {
  flex: 1;
  font-size: 24rpx;
  line-height: 60rpx;
  text-align: center;
}