/* components/Form/index.wxss */
@import '../../styles/var.scss';
@import '../../styles/mixin.scss';
@import '../../styles/component.scss';

$--color: #ee0a24;

.van-field {
  --cell-icon-size: $font-size-h;
}

.van-field__label {
  color: #646566;
}

.van-field__label--disabled {
  color: #c8c9cc;
}

.van-field__body {
  @include fl();
}

.van-field__body--textarea {
  box-sizing: border-box;
  line-height: 1.2em;
  min-height: 48rpx;
  padding: 7.2rpx 0;
}

.van-field__control:empty+.van-field__control {
  display: block;
}

.van-field__control {
  background-color: initial;
  border: 0;
  box-sizing: border-box;
  color: #323233;
  display: none;
  height: 48rpx;
  line-height: inherit;
  margin: 0;
  min-height: 48rpx;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  width: 100%;
}

.van-field__control:empty {
  display: none;
}

.van-field__control--textarea {
  height: 36rpx;
  min-height: 36rpx;
}

.van-field__control--error {
  color: $--color;
}

.van-field__control--disabled {
  background-color: initial;
  color: #c8c9cc;
  opacity: 1
}

.van-field__control--center {
  text-align: center;
}

.van-field__control--right {
  text-align: right;
}

.van-field__control--custom {
  @include fl();
  min-height: 48rpx;
}

.van-field__placeholder {
  color: #c8c9cc;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0
}

.van-field__placeholder--error {
  color: $--color;
}

.van-field__icon-root {
  @include fl();
  min-height: 48rpx;
}

.van-field__clear-root,
.van-field__icon-container {
  line-height: inherit;
  margin-right: calc(var(--padding-xs, 16rpx) * -1);
  padding: 0 16rpx;
  vertical-align: middle;
}

.van-field__button,
.van-field__clear-root,
.van-field__icon-container {
  flex-shrink: 0;
}

.van-field__clear-root {
  @include sc($font-size-h, #c8c9cc);
}

.van-field__icon-container {
  @include sc($font-size-h, #969799);
}

.van-field__icon-container:empty {
  display: none;
}

.van-field__button {
  padding-left: 16rpx;
}

.van-field__button:empty {
  display: none;
}

.van-field__error-message {
  @include sc($font-size-s, $--color);
  text-align: left;
}

.van-field__error-message--center {
  text-align: center;
}

.van-field__error-message--right {
  text-align: right;
}

.van-field__word-limit {
  @include sc($font-size-s, #646566);
  line-height: 32rpx;
  margin-top: 8rpx;
  text-align: right;
}

.van-field__word-num {
  display: inline;
}

.van-field__word-num--full {
  color: $--color;
}