/* components/Cell/index.wxss */
@import '../../styles/var.scss';
@import '../../styles/mixin.scss';
@import '../../styles/component.scss';

.van-cell {
  background-color: $background;
  box-sizing: border-box;
  color: #323233;
  display: flex;
  font-size: $font-size-m;
  line-height: 48rpx;
  padding: 20rpx 32rpx;
  position: relative;
  width: 100%;
}

.van-cell:after {
  border-bottom: 1px solid #ebedf0;
  bottom: 0;
  box-sizing: border-box;
  content: " ";
  left: 32rpx;
  pointer-events: none;
  position: absolute;
  right: 32rpx;
  transform: scaleY(.5);
  transform-origin: center
}

.van-cell--borderless:after {
  display: none;
}

.van-cell-group {
  background-color: $background;
}

.van-cell__label {
  @include sc($font-size-s, #969799);
  line-height: 36rpx;
  margin-top: 6rpx;
}

.van-cell__value {
  color: #969799;
  overflow: hidden;
  text-align: right;
  vertical-align: middle
}

.van-cell__title,
.van-cell__value {
  flex: 1;
}

.van-cell__title:empty,
.van-cell__value:empty {
  display: none;
}

.van-cell__left-icon-wrap,
.van-cell__right-icon-wrap {
  @include fl();
  font-size: $font-size-h;
  height: 48rpx;
}

.van-cell__left-icon-wrap {
  margin-right: 8rpx;
}

.van-cell__right-icon-wrap {
  color:#969799;
  margin-left: 8rpx;
}

.van-cell__left-icon {
  vertical-align: middle;
}

.van-cell__left-icon,
.van-cell__right-icon {
  line-height: 48rpx;
}

.van-cell--clickable.van-cell--hover {
  background-color: #f2f3f5;
}

.van-cell--required {
  overflow: visible;
}

.van-cell--required:before {
  @include sc($font-size-m, #ee0a24);
  content: "*";
  left: 16rpx;
  position: absolute;
}

.van-cell--center {
  align-items: center;
}

.van-cell--large {
  padding-bottom: 24rpx;
  padding-top: 24rpx;
}

.van-cell--large .van-cell__title {
  font-size: $font-size-h;
}

.van-cell--large .van-cell__value {
  font-size: $font-size-h;
}

.van-cell--large .van-cell__label {
  font-size: $font-size-m;
}