/* components/FormGroup/index.wxss */
@import '../../styles/var.scss';
@import '../../styles/mixin.scss';
@import '../../styles/component.scss';

.van-cell-group--inset {
  border-radius: 16rpx;
  margin: 0 32rpx;
  overflow: hidden;
}

.van-cell-group__title {
  @include sc($font-size-m, #969799);
  line-height: 32rpx;
  padding: 32rpx 32rpx 16rpx;
}

.van-cell-group__title--inset {
  padding: 32rpx 32rpx 16rpx 64rpx;
}