/* components/Tab/index.wxss */
@import '../../styles/var.scss';
@import '../../styles/mixin.scss';

.tabs {
  @include fl();
  position: relative;
  margin: 0 auto;
  max-width: 700rpx;
  .tab-item {
    position: relative;
    z-index: 10;
    flex: 1;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    font-size: $font-size-m;
    color: #999;
    
    &.active {
      color: $font-color;
      background-color: $primary-color;
    }
  }
  .active-bar {
    @include wh(120rpx, 60rpx);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    transition: transform 0.5s;
    border-right: none;
  }
}